<div class="container">
    <div class="row  vertical-center">
        <div class="col-md-10 bg-white  shadow-sm text-center mx-auto p-3 ">

            <i class="fa fa-check-circle fa-4x text-success" aria-hidden="true"></i>
            <h3 i18n="">Merci !</h3>
            <h5>Votre dossier va etre étudier dans les meilleurs délais par nos conseillers.</h5>
            <h6 class="text-muted">L'étude du dossier peux prendre jusqu'a <b>2 jours ouvrés</b>, soyez patient</h6>
            <a href="https://aurore.app" class="btn btn-primary btn-block btn-sm">Retour au site</a>     
        </div>
    </div>
</div>