

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" href="#"><img style="max-height: 50px;" src="../assets/img/logoaurore.png"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-white" href="https://aurore.app">Retour au site<span class="sr-only"></span></a>
        <a class="nav-item nav-link text-white" href="https://aurore.app">Besoin d'aide ? <span class="sr-only"></span></a>
      </div>
    </div>
  </nav>

<router-outlet ></router-outlet>